Combine data from SAP and Manuals.
SAP data contains the structure. All stands are listed in the right sequence.
Manuals contain the changes to be made.

In [1]:
import pandas as pd
import numpy as np

In [2]:
########   SAP data   ########

In [3]:
path = '/home/philipp/Data/obf_autman/SAP/raw_1420_02_20211122.XLS'
#path = '/home/philipp/Data/obf_autman/SAP/raw_1353_08_20190409.XLS'
wo_struct = pd.read_csv(path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)
#path = '/home/philipp/Data/obf_autman/SAP/raw_1420_02.xlsx'
#wo_data = pd.read_excel(path)

/home/philipp/miniconda3/envs/autman/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3172: DtypeWarning: Columns (147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
# sort WOs
wo_struct.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
# construct WO-name
wo_struct['Waldort'] = wo_struct['Abteilung'].astype(str).str.pad(width=3, side='left', fillchar='0') + wo_struct['Unterabteil.'] + wo_struct['Teilfl.'].astype(str)
# filter data
wo_struct = wo_struct[['Waldort', 'WE-Typ']]

In [48]:
#wo_data = wo_data.drop_duplicates('Waldort')

In [49]:
wo_struct.reset_index(drop=True)

     Waldort WE-Typ
0      053A1     WO
1      053A2     WO
2      053A3     WO
3      053A4     WO
4      053B1     WO
...      ...    ...
2932   752E2     WO
2933   752E3     WO
2934   752F1     WO
2935   752F2     WO
2936   75231     NG

[2937 rows x 2 columns]

In [50]:
########   TAX data   ########

In [3]:
### create sceleton dataframe with all ba

wo_cpy = wo_struct.copy()

# ba
chk_ba = ["AS", "AZ", "AH", "PM", "BI", "FB", "BL", "AC", "DG", "EE",\
 "EK", "EB", "EI", "EL", "ES", "EA", "FA", "FI", "FE", "FZ", "GK", "GB", "WP",\
 "GE", "AG", "AV", "HB", "HT", "HP", "JL", "CJ", "KK", "KB", "KO", "LA", "LI",\
 "ME", "AN", "FO", "PO", "AB", "RO", "RK", "BU", "RE", "SW", "CH", "ER", "SK",\
 "JN", "SP", "SF", "LS", "SL", "SN", "SG", "PU", "SA", "QR", "ST", "KW", "TH",\
 "QP", "TK", "TB", "UL", "NU", "WD", "KI", "TA", "WO", "LW", "EZ", "ZI"]

wo_cpy[chk_ba] = 0

# wo
#index = ['506A1', '506A2', '506A3', '506A4', '506B0', '506C0',]

## create dataframe with wo
#df = pd.DataFrame(index=index, columns=chk_ba)
#df = df.fillna(0) # with 0s rather than NaNs

In [75]:
wo_cpy

,Waldort,WE-Typ,AS,AZ,AH,PM,BI,FB,BL,AC,...,TB,UL,NU,WD,KI,TA,WO,LW,EZ,ZI
744,053A1,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1144,053A2,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1143,053A3,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1142,053A4,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1141,053B1,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2563,752E2,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2564,752E3,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2565,752F1,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2566,752F2,WO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2794,75231,NG,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
###

In [77]:
tax_cpy = tax_data[['WO', 'BZ']].copy()

In [78]:
tax_cpy['Waldort'] = tax_cpy['WO'].str.replace(' ', '')

In [79]:
# filter dataset
tax_cpy = tax_cpy.loc[~pd.isna(tax_cpy['BZ']),['Waldort', 'BZ']]

In [80]:
tax_cpy

    Waldort              BZ
77    054K1      BZ 6SL 4KI
78    054K2  BZ 2LA 5KI 3SL
80    054L2  BZ 2FI 5SL 3KI
81    054L3  BZ 3KI 5QP 2SL
95    054X0  BZ 5QP 2HB 3KI
..      ...             ...
875   110A0  BZ 6QP 3KI 1TA
876   110B0      BZ 7QP 3HB
877   110C0      BZ 4KI 6QP
878   110D0      BZ 5QP 5SL
880   110F0  BZ 5KI 2TA 3SL

[366 rows x 2 columns]

In [68]:
for idx, inst in tax_cpy.iterrows():
    nums, bas = check_bz(inst['BZ'])
    #for j in len(nums):

IndentationError: expected an indented block (2219961818.py, line 4)

In [158]:
'BZ 6SL 4KI'[3:]

'6SL 4KI'

In [81]:
nums, bas = check_bz('6SL 4KI')

In [82]:
print(nums, bas)

[6, 4] ['SL', 'KI']

In [84]:
wo_cpy.loc[wo_cpy['Waldort']=='054K1', bas] = nums

In [87]:
wo_cpy.loc[wo_cpy['Waldort']=='054K1', bas]

     SL  KI
106   6   4

In [64]:
def check_bz(bz_str):
    '''
    Checks Bestockungsziel (bz) for validity and returns the splited data.
    '''
    nums = []
    bas = []
    
    bz_split = bz_str.split()
    
    for bz_inst in bz_split:
        try:
            if bz_inst[-2:] in chk_ba:
                nums.append(int(bz_inst[:-2]))
                bas.append(bz_inst[-2:])
            else:
                print('Not a valid tree species')

        except:
            print('Input not valid')
            
    if sum(nums) != 10:
        print('BZ does not add up to 10')
        
    return nums, bas

In [ ]:


for i in range(bz.shape[0]):
    row = bz.iloc[i,:]
    wo = row['WO']
    for j in range(1, bz.shape[1]):
        if row.iloc[j] != 0:
            bz_x = re.findall(r"[\w']+", row.iloc[j])
            df.loc[wo,bz_x[1]] = bz_x[0]



df['Waldort'] = df.index

In [ ]:
#################################

In [4]:
wo_data = wo_struct

In [5]:
wos = wo_struct['Waldort'].unique()
wos

array(['269E2', '267A2', '267M3', ..., '515E1', '515E2', '515E3'],
      dtype=object)

In [8]:
# add bz_rows
wo_struct['bz_rows'] = wo_struct.loc[wo_struct['Best.-Schicht'] == 0, 'Bestockungsziel'].str.count(' ') + 1

In [13]:
wo_struct.loc[wo_struct['Best.-Schicht'] == 0]

,MerkmalausprÃ¤gung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile2,Zeile3,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,FlÃ¤chenanteil,bz_rows
0,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,anpassen!,"ST Ã¶rtlich felsig,","BE ein EI, SplitterschÃ¤den, schlechte Schaft...","NaturverjÃ¼ngung, liegendes Totholz",NaN,NaN,NaN,10BU,0.0,1.0
1,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,anpassen!,ST stellenweise felsig,"BE ungleichaltrig, vorwiegend stockausschlag",NaN,NaN,NaN,NaN,10BU,0.0,1.0
2,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,BE an den RÃ¤ndern und lÃ¤ngs Grenze ein schmal...,"StrÃ¤ucher, im W LH-Horst, in LÃ¼cken aufkommen...","HBaber auch EI BU ES, krÃ¤ftig durchforstet",NaN,NaN,NaN,NaN,2LA 5FI 3BU,0.0,3.0
3,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,"BE KI IM W, ungleichaltrig",NaN,NaN,NaN,NaN,NaN,NaN,3BU 4FI 3LA,0.0,3.0
4,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,BE VL LA; EIN KI; IM S BEI STEIN 7/B Ã¤lterer ...,IMN lichte NH-GRUPPE;,NaN,NaN,NaN,NaN,NaN,10BU,0.0,1.0
1153,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1154,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1155,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1156,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [10]:
wo_struct = wo_data.loc[wo_data['Best.-Schicht'] == 0].copy()

wo_struct.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)

wo_struct = wo_struct.reset_index(drop=True)

In [11]:
wo_struct[['Waldort', 'bz_rows']]

     Waldort  bz_rows
0      222A1      1.0
1      222A2      1.0
2      222A3      3.0
3      222A4      3.0
4      22251      NaN
...      ...      ...
1152   518C0      1.0
1153   51831      NaN
1154   51841      NaN
1155   51842      NaN
1156   51891      NaN

[1157 rows x 2 columns]

In [ ]:
xxxxxxxxxxx

In [177]:
# filter data just ba (tree species) instances
ba_data = wo_data[wo_data['Best.-Schicht.1'] != 0]
# count the 
ba_data = ba_data[['Waldort', 'Status']].groupby(['Waldort']).count()

In [178]:
ba_data = ba_data.reset_index()

In [179]:
m_data = pd.merge(wo_struct, ba_data, how='left', on='Waldort')

In [180]:
m_data

,MerkmalausprÃ¤gung,AuswKatTyp,Teiloperats-ID,Forstbetrieb,Debitor,TO-Bezeichnung,Status_x,Beg. Laufzeit,Ende Laufzeit,Operat-ID,...,Zeile4,Zeile5,Zeile6,Zeile7,Zeile8,Bestockungsziel,FlÃ¤chenanteil,bz_rows,ba_rows,Status_y
0,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,"BE ein EI, SplitterschÃ¤den, schlechte Schaft...","NaturverjÃ¼ngung, liegendes Totholz",NaN,NaN,NaN,10BU,0.0,1.0,1.0,1.0
1,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,"BE ungleichaltrig, vorwiegend stockausschlag",NaN,NaN,NaN,NaN,10BU,0.0,1.0,6.0,6.0
2,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,"HBaber auch EI BU ES, krÃ¤ftig durchforstet",NaN,NaN,NaN,NaN,2LA 5FI 3BU,0.0,3.0,3.0,3.0
3,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,3BU 4FI 3LA,0.0,3.0,4.0,4.0
4,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,10BU,0.0,1.0,NaN,2.0
1153,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1154,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1155,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1156,0,NaN,1353,171,220442,FE 2018,1,01.01.2019,31.12.2028,271,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [132]:
wos = wo_data['Waldort'].unique()
#df.set_index(['Waldort'], drop=False, inplace=True)

# add number of rows
for wo in wos:
    wo_data.loc[wo, 'nr_rows'] = len(wo_data[(wo_data['Waldort'] == wo) & (wo_data['Best.-Schicht.1'] != 0)])

In [ ]:
xxxxxxxxxxxxx

In [ ]:
##############################

In [24]:
path = 'clean/Manuale_Dross_Abt.53_110.xlsx'
tax_data = pd.read_excel(path)

# get number of max measures (Nutzungen) per unit (Bestand)
loops = int(tax_data.columns[-2][5:])

# clean WO-name
tax_data['Waldort'] = tax_data['WO'].str.replace(" ", "")

i = 0

# convert , to .
tax_data['Fl_{}'.format(i)] = tax_data['Fl_{}'.format(i)].str.replace(",", ".")

col = ['Waldort', 'S_{}'.format(i), 'MA_{}'.format(i), 'Fl_{}'.format(i), 'LH_{}'.format(i),\
                   'NH_{}'.format(i), 'Dring_{}'.format(i), 'Zeit_{}'.format(i), 'Bew_{}'.format(i),\
                   'Sch_{}'.format(i), 'Rueck_{}'.format(i), 'Text_{}'.format(i)]

In [25]:
tax_data[col]

,Waldort,S_0,MA_0,Fl_0,LH_0,NH_0,Dring_0,Zeit_0,Bew_0,Sch_0,Rueck_0,Text_0
0,053A1,1.0,LI,1.5,0.0,160.0,1.0,2.0,2.0,4.0,35.0,"TA fÃ¶rdern, FI entnehmen und Kronenpflege bei ..."
1,053A2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,053A3,1.0,DF,1.17,0.0,70.0,3.0,1.0,2.0,4.0,35.0,NaN
3,053A4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,053B1,1.0,PL,1.5,0.0,230.0,1.0,2.0,2.0,4.0,35.0,TA erhalten KI geringe Kronen entnehmen
...,...,...,...,...,...,...,...,...,...,...,...,...
877,110C0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
878,110D0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
879,110E0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
880,110F0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
881,110G0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
tax_data[['Waldort','ST', 'BE', 'MA']]

,Waldort,ST,BE,MA
0,053A1,"ST im N steiler sowie tiefgrÃ¼ndiger, Ã¶rtl Berg...","BE im S mehr KI, im N mehr FI, im NO mehr LÃ„ s...","MA LI: TA fÃ¶rdern, FI und geringkronige LA/KI ..."
1,053A2,ST STOE 71/72,"BE BI, ein KI, FI-reicher im W-Spitz, FI-Strei...","MA geastet, EDF 2005, DF 2021, ende Dez. Kontr..."
2,053A3,ST STOE 71/72,BE mehr LH im S - dort auch zlr BI,"MA geastet, EDF 2005, DF 2021, weitere DF ende..."
3,053A4,ST STOE 71/72,"BE bis 5 J Ã¤lter, LA teils bereits kleine Krone","MA tlw EDF 2005, DF 2021, weitere DF nÃ¤chstes ..."
4,053B1,"ST im S STOE 71, dicht","BE FI grtls in N-HÃ¤lfte - dort auch eiz KO, ei...",MA LI/PL TA unbedingt erhalten
...,...,...,...,...
877,110C0,NaN,NaN,NaN
878,110D0,NaN,"BE KI randlich, Holler in LÃ¼cken, mÃ¤chtige HB ...",NaN
879,110E0,NaN,NaN,NaN
880,110F0,"ST felsig lgs (5), unten steiler, oben flacher...","BE mehr KI oben, mittig am lichtesten, Totholz...",NaN
881,110G0,NaN,NaN,NaN

In [32]:
merge_data = pd.merge(wo_struct, tax_data[col], how='left', on='Waldort')

merge_data.columns = ['Waldort', 'WE-Typ', 'S', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck', 'Text']

merge_data = merge_data.fillna(0)
merge_data['S'] = merge_data['S'].astype(int)
merge_data['Fl'] = merge_data['Fl'].astype(float)
merge_data['LH'] = merge_data['LH'].astype(int)
merge_data['NH'] = merge_data['NH'].astype(int)
merge_data['Dring'] = merge_data['Dring'].astype(int)
merge_data['Zeit'] = merge_data['Zeit'].astype(int)
merge_data['Bew'] = merge_data['Bew'].astype(int)
merge_data['Sch'] = merge_data['Sch'].astype(int)
merge_data['Rueck'] = merge_data['Rueck'].astype(int)

In [33]:
merge_data

,Waldort,WE-Typ,S,MA,Fl,LH,NH,Dring,Zeit,Bew,Sch,Rueck,Text
0,053A1,WO,1,LI,1.50,0,160,1,2,2,4,35,"TA fÃ¶rdern, FI entnehmen und Kronenpflege bei ..."
1,053A2,WO,0,0,0.00,0,0,0,0,0,0,0,0
2,053A3,WO,1,DF,1.17,0,70,3,1,2,4,35,0
3,053A4,WO,0,0,0.00,0,0,0,0,0,0,0,0
4,053B1,WO,1,PL,1.50,0,230,1,2,2,4,35,TA erhalten KI geringe Kronen entnehmen
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,752E2,WO,0,0,0.00,0,0,0,0,0,0,0,0
2933,752E3,WO,0,0,0.00,0,0,0,0,0,0,0,0
2934,752F1,WO,0,0,0.00,0,0,0,0,0,0,0,0
2935,752F2,WO,0,0,0.00,0,0,0,0,0,0,0,0
2936,75231,NG,0,0,0.00,0,0,0,0,0,0,0,0

In [37]:
class CreateInput(object):

    def __init__(self, wo_data, tax_data):
        '''
        input:
            wo_data - DataFrame with the WO structure (raw data export from SAP)
            tax_data - DataFrame with the updated tax data
        '''
        
        # prepare wo_data
        self.wo_data = self.prepare_wo_data(wo_data)
        # filter data
        self.wo_struct = self.wo_data.loc[self.wo_data['Best.-Schicht']==0,['Waldort', 'WE-Typ']]
        # prepare tax_data
        self.tax_data = self.prepare_tax_data(tax_data)
        self.clean_prefix()
        
        self.bas = ['FI', 'TA', 'LA', 'KI', 'SK', 'ZI', 'PM', 'DG', 'KW', 'SF', 'FO', 'TH', 'FB',\
                    'AC', 'AG', 'AZ', 'EB', 'FZ', 'GK', 'HT', 'JL', 'CJ', 'KK', 'KO', 'AN', 'AB',\
                    'CH', 'PU', 'SN', 'BU', 'EI', 'HB', 'AH', 'SA', 'FA', 'EA', 'ES', 'UL', 'QP',\
                    'QR', 'EZ', 'RE', 'FE', 'ER', 'GE', 'AV', 'KB', 'TK', 'WO', 'SG', 'NU', 'JN',\
                    'LI', 'LS', 'LW', 'BI', 'PO', 'AS', 'WP', 'SP', 'HP', 'WD', 'SW', 'EK', 'RK',\
                    'EE', 'EL', 'ME', 'RO', 'TB', 'GB', 'ST', 'SL', 'BL']
        
        
    def prepare_wo_data(self, wo_data):
        ###   wo_data   ###
        
        # sort WOs
        wo_data.sort_values(by=['Abteilung', 'WE-Typ', 'Unterabteil.', 'Teilfl.'], ascending=[True,False,True,True], inplace=True)
        
        # construct WO-name
        wo_data['Waldort'] = wo_data['Abteilung'].astype(str).str.pad(width=3, side='left', fillchar='0') + wo_data['Unterabteil.'] + wo_data['Teilfl.'].astype(str)
        
        # add bz_row information
        wo_data = self.add_bz_rows(wo_data)
        
        # add ba_row information
        wo_data = self.add_ba_rows(wo_data)
        
        # filter just unique WOs
        wo_data.loc[wo_data['Best.-Schicht']==0]
        
        return wo_data
    
    
    def prepare_tax_data(self, tax_data):
        ###   tax_data   ###
        
        # get number of max measures (Nutzungen) per unit (Bestand)
        self.nr_ma = int(tax_data.columns[-2][5:])

        # clean WO-name
        tax_data['Waldort'] = tax_data['WO'].str.replace(" ", "")
    
        return tax_data
    
    
    def clean_prefix(self):
        for col, i in [('U', 2), ('W', 2), ('STOE', 5), ('VTYP', 5), ('VB', 3), ('UELH', 5), ('UENH', 5), ('BZ', 3)]:
            if self.tax_data.loc[~pd.isna(self.tax_data[col]),col].size > 0:
                self.tax_data.loc[~pd.isna(self.tax_data[col]),col] = self.tax_data.loc[~pd.isna(self.tax_data[col]),col].str[i:]
                
    
    
    #############################
    ###   create data files   ###
    #############################
    
    
    def create_text(self):
        # merge data
        merge_data = pd.merge(self.wo_struct, self.tax_data[['Waldort','ST', 'BE', 'MA']], how='left', on='Waldort')
        merge_data.to_csv('autax/text.csv', index=False)
        
        
    def create_bz(self):
        
        # create empty dataframe
        wo_bz = self.wo_struct.copy()
        wo_bz[self.bas] = 0

        # filter tax data for BZ
        tax_bz = self.tax_data.loc[~pd.isna(self.tax_data['BZ']),['Waldort', 'BZ']].copy()
        
        for idx, inst in tax_bz.iterrows():
            nums, bas = self.check_bz(inst['BZ'])
            
            if nums:
                wo_bz.loc[wo_bz['Waldort']==inst['Waldort'], bas] = nums
                
        wo_bz.to_csv('autax/bz.csv', index=False)
        
        
    def create_nutz(self):

        for i in range(self.nr_ma):
            # create column names
            col = ['Waldort', 'S_{}'.format(i), 'MA_{}'.format(i), 'Fl_{}'.format(i), 'LH_{}'.format(i),\
                       'NH_{}'.format(i), 'Dring_{}'.format(i), 'Zeit_{}'.format(i), 'Bew_{}'.format(i),\
                       'Sch_{}'.format(i), 'Rueck_{}'.format(i), 'Text_{}'.format(i)]

            # merge data
            merge_data = pd.merge(self.wo_data.loc[self.wo_data['Best.-Schicht']==0,['Waldort', 'WE-Typ', 'bz_rows', 'ba_rows']],\
                                  self.tax_data[col], how='left', on='Waldort')

            # rename columns
            merge_data.columns = ['Waldort', 'WE-Typ', 'bz_rows', 'ba_rows', 'S', 'MA', 'Fl', 'LH', 'NH', 'Dring', 'Zeit', 'Bew', 'Sch', 'Rueck', 'Text']

            # convert , to .
            merge_data['Fl'] = merge_data['Fl'].str.replace(",", ".")

            # adjust data type
            merge_data = merge_data.fillna(0)
            merge_data['bz_rows'] = merge_data['bz_rows'].astype(int)
            merge_data['ba_rows'] = merge_data['ba_rows'].astype(int)
            merge_data['S'] = merge_data['S'].astype(int)
            merge_data['Fl'] = merge_data['Fl'].astype(float)
            merge_data['LH'] = merge_data['LH'].astype(int)
            merge_data['NH'] = merge_data['NH'].astype(int)
            merge_data['Dring'] = merge_data['Dring'].astype(int)
            merge_data['Zeit'] = merge_data['Zeit'].astype(int)
            merge_data['Bew'] = merge_data['Bew'].astype(int)
            merge_data['Sch'] = merge_data['Sch'].astype(int)
            merge_data['Rueck'] = merge_data['Rueck'].astype(int)
            
            merge_data.to_csv('autax/nutz_{}.csv'.format(i) , index=False)
            
            
    def create_wo(self):
        self.decode_W()
        merge_data = pd.merge(self.wo_struct, self.tax_data[['Waldort', 'U', 'I_A', 'W_S', 'SW', 'STOE', 'VTYP', 'UELH', 'UENH', 'VB']], how='left', on='Waldort')
        merge_data = merge_data.fillna('0')
        merge_data.to_csv('autax/wo.csv', index=False)
            
    
    def decode_W(self):
        self.tax_data.loc[self.tax_data['W'] == 'WI', ['W_S', 'SW', 'I_A']] = ['W', '0', 'I']
        self.tax_data.loc[self.tax_data['W'] == 'WA', ['W_S', 'SW', 'I_A']] = ['W', '0', 'A']
        self.tax_data.loc[self.tax_data['W'] == 'SSI', ['W_S', 'SW', 'I_A']] = ['S', 'S', 'I']
        self.tax_data.loc[self.tax_data['W'] == 'SSA', ['W_S', 'SW', 'I_A']] = ['S', 'S', 'A']
        self.tax_data.loc[self.tax_data['W'] == 'OSI', ['W_S', 'SW', 'I_A']] = ['O', 'S', 'I']
        self.tax_data.loc[self.tax_data['W'] == 'OSA', ['W_S', 'SW', 'I_A']] = ['O', 'S', 'A']
        self.tax_data.loc[self.tax_data['W'] == 'BSI', ['W_S', 'SW', 'I_A']] = ['B', 'S', 'I']
        self.tax_data.loc[self.tax_data['W'] == 'BSA', ['W_S', 'SW', 'I_A']] = ['B', 'S', 'A']


    def check_bz(self, bz_str):
        '''
        Checks Bestockungsziel (bz) for validity and returns the splited data.
        '''
        nums = []
        bas = []
        
        # split sting into bz instances
        bz_split = bz_str.split()

        for bz_inst in bz_split:
            try:
                if bz_inst[-2:] in self.bas:
                    nums.append(int(bz_inst[:-2]))
                    bas.append(bz_inst[-2:])
                else:
                    print('Not a valid tree species {}'.format(bz_inst))

            except:
                print('Input not valid')

        if sum(nums) != 10:
            print('BZ does not add up to 10')

        return nums, bas
    

    def add_bz_rows(self, wo_data):
        # filter data just wo (forest stands) instances
        try:
            wo_data['bz_rows'] = wo_data.loc[wo_data['Best.-Schicht']==0, 'Bestockungsziel'].str.count(' ') + 1
        except:
            wo_data['bz_rows'] = 0
        return wo_data
        
    def add_ba_rows(self, wo_data):
        # filter data just ba (tree species) instances
        ba_data = wo_data.loc[wo_data['Best.-Schicht.1'] != 0, ['Waldort', 'Status']].copy()
        # get number of ba (tree species) instances per wo (forest stand)
        ba_data = ba_data.groupby(['Waldort']).count()
        # rename column
        ba_data.columns = ['ba_rows']
        # set Waldort as column
        ba_data = ba_data.reset_index()
        # merge data
        wo_data = pd.merge(wo_data, ba_data, how='left', on='Waldort')
        return wo_data

In [38]:
#U â€¦. Umtriebszeit
#W â€¦. Wirtschaftswald/Schutzwald
#STOE â€¦. Standortseinheit
#VTYP â€¦. Vegetationstyp
#VB â€¦. Verbissgrad
#UENH â€¦. ÃœberhÃ¤lter Nadelholz
#UELH â€¦. ÃœberhÃ¤lter Laubholz

#

#SWE â€¦. Schutzwaldampel
#LRV â€¦. Lebensraumvernetzung

In [39]:
path = '/home/philipp/Data/obf_autman/SAP/raw_1420_02_20211122.XLS'
#path = '/home/philipp/Data/obf_autman/SAP/raw_1353_08_20190409.XLS'
wo_struct = pd.read_csv(path, sep='\t', encoding = "ISO-8859-1", decimal=',', error_bad_lines=False)

path = 'clean/Manuale_Dross_Abt.53_110.xlsx'
tax_data = pd.read_excel(path)

ci = CreateInput(wo_struct, tax_data)

/home/philipp/miniconda3/envs/autman/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3172: DtypeWarning: Columns (29,148,149) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [40]:
ci.tax_data.loc[~pd.isna(ci.tax_data['BZ']), 'BZ']

77         6SL 4KI
78     2LA 5KI 3SL
80     2FI 5SL 3KI
81     3KI 5QP 2SL
95     5QP 2HB 3KI
          ...
875    6QP 3KI 1TA
876        7QP 3HB
877        4KI 6QP
878        5QP 5SL
880    5KI 2TA 3SL
Name: BZ, Length: 366, dtype: object

In [41]:
ci.create_wo()
ci.create_text()
ci.create_bz()
ci.create_nutz()

Input not valid
BZ does not add up to 10
Not a valid tree species 6
Input not valid
BZ does not add up to 10
Not a valid tree species 10
Input not valid
BZ does not add up to 10
BZ does not add up to 10
Not a valid tree species 10
Input not valid
BZ does not add up to 10
BZ does not add up to 10
Not a valid tree species 4
Input not valid
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
Not a valid tree species 5
Input not valid
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
Not a valid tree species 10
Input not valid
BZ does not add up to 10
BZ does not add up to 10
Not a valid tree species 10
Input not valid
BZ does not add up to 10
Not a valid tree species 4
Input not valid
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
BZ does not add up to 10
Not a valid tree species 5
Input not valid
BZ does not add up to 10
Not a valid tree species 2
BZ does not add up to 10

In [31]:
ci.wo_struct

      Waldort WE-Typ
0       053A1     WO
9       053A2     WO
14      053A3     WO
18      053A4     WO
22      053B1     WO
...       ...    ...
13807   752E2     WO
13813   752E3     WO
13818   752F1     WO
13831   752F2     WO
13840   75231     NG

[2937 rows x 2 columns]

In [ ]:
# merge data
merge_data = pd.merge(wo_data, wtyp_data, how='left', on='Waldort')